@import url(./__container/popup__container.css);
@import url(./__form/popup__form.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__title/popup__title.css);
@import url(./__form-input/popup__form-input.css);
@import url(./__close-icon/popup__close-icon.css);

.popup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    display: none;
    justify-content: center;
}