.element__like {
    cursor: pointer;
    width: 21px;
    height: 19px;
    border: none;
    background-image: url(../../../images/like.svg);
    background-size: cover;
    background-position: center center;
    background-color: unset;
}

.element__like:focus {
    outline: none;
}