.header__logo {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

@media (max-width: 880px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media (max-width: 400px) {
    .header__logo {
        width: 104px;
        height: 24px;
    }
}