@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
    max-width: 936px;
    margin: auto;
    box-sizing: border-box;
    padding: 45px 27px 41px 27px;
    margin-bottom: 36px;
    position: relative;
}

header::before {
    bottom: 0;
    left: 27px;
    position: absolute;
    content: '';
    width: calc(100% - 54px);
    height: 1px;
    background-color: #545454;
}

@media (max-width: 600px) {
    .header {
        padding-left: 0;
        padding-right: 0;
    }

    header::before {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 400px) {
    .header {
        padding-top: 28px;
        padding-bottom: 32px;
        margin-bottom: 38px;
    }
}